<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node"/>
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM1"/>
  <node name="talker" pkg="race" type="talker.py" />
  <node name="control" pkg="race" type="control.py"/>
  <node name="dist_finder" pkg="race" type="dist_finder.py"/>
</launch>
